<footer class="footer">
  <p>This page was built using the Antora default UI.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>




  <div class="row">
    <div class="col-lg-3 col-md-6 footer__col-1">
      <div id="media_image-2" class="widget widget_media_image"><a href="#"><img
            src="https://dev.freeinsurancedata.de/wp-content/uploads/2021/02/logoKlein.png"
            class="image wp-image-2246  attachment-128x128 size-128x128" alt="" loading="lazy"
            style="max-width: 100%; height: auto;" width="128" height="128"></a></div>
    </div>

    <div class="col-lg-3 col-md-6 footer__col-2">
      <div id="nav_menu-1" class="widget widget_nav_menu">
        <h2 class="widget-title">Informationen</h2>
        <nav class="menu-footer-menu-container" aria-label="Informationen">
          <ul id="menu-footer-menu" class="menu">
            <li id="menu-item-895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-895"><a
                href="https://dev.freeinsurancedata.de/kontakt/">Kontakt</a></li>
            <li id="menu-item-903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-903"><a
                href="https://dev.freeinsurancedata.de/impressum/">Impressum</a></li>
            <li id="menu-item-896"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-896"><a
                href="https://dev.freeinsurancedata.de/datenschutz/">Datenschutz</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 footer__col-3">
      <div id="nav_menu-2" class="widget widget_nav_menu">
        <h2 class="widget-title">Social Media</h2>
        <nav class="menu-socialnbspmedia-container" aria-label="Social Media">
          <ul id="menu-socialnbspmedia" class="menu">
            <li id="menu-item-268" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-268"><a
                href="https://twitter.com/frida_germany">Twitter</a></li>
            <li id="menu-item-270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-270"><a
                href="https://www.linkedin.com/company/free-insurance-data-initiative/">Linkedin</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 footer__col-4">
      <div id="custom_html-1" class="widget_text widget widget_custom_html">
        <h2 class="widget-title">Impressum</h2>
        <div class="textwidget custom-html-widget">
          <address>FRIDA e.V., c/o InsurLab Germany, Gebäude 3.09, Schanzenstraße 6-20, 51063 Köln</address>

          <a href="mailto:Frida.OpenAPI@gmail.com">ÄNDERN@frida.de</a>
        </div>
      </div>
    </div>

  </div>




</footer>